h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    padding: 0;
    margin: 0px 0px 1.5ch;
}

h1 {
    font-size: 3.0rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

a {
    color: initial;

    &:hover {
        color: var(--info-50);
    }

    &:visited {
        color: var(--visited);
    }

    &:focus {
        color: var(--info-50);
        text-decoration: underline 2px;
    }
}